<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Hello!</title>
    <link rel="stylesheet" type="text/css" href="../css/map.css">
      <!-- Bing Map API --> 
    <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
</head>
<body>
    <div class="container">
        <h1>(T)echnical (E)vangelist (A)wesome (M)ap - TEAM!</h1>
    </div>  
                    <div id="BingMap" ></div>

<body onload ="var map = new Map();">
<script src ="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="../js/map.js"></script>

</body>
</html>