.bio-container {
  margin: 4%;
  padding: 4%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  /*max-width: 70%;*/
  position: relative;
  width: 100%;
}


.evangelist-img {
    height: 40%;
    width: 40%;
    padding-top: 15%;
    padding-right: 0%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}


#specialty {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: rgba(0, 0, 0, .5);
    padding: 1%;
    border-radius: 10px 10px 10px 10px;
    color: azure;
    font-size: 1.3em;
    text-shadow: 2px 2px rgb(0,0,0);
}